*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color: bisque;
}
.container{
    max-width: 1140px;
    padding: 0 3rem;
    margin: auto;
}
section{
    padding: 7rem 0;
}
.center{
    text-align: center;
}
.bg-green{
    background-color: green;
}
.bg-red{
    background-color: red;
}
button{
    padding: .5rem;
    font-weight: bold;
}
table{
    text-align: center;
    margin-top: 4rem;
    margin:3rem auto;
}
table caption{
    background-color: blueviolet;
    font-weight: bolder;
    margin-top: 2rem;
    padding: 1rem 0;
    text-transform: uppercase;
}
table,th,td{
border: 1px solid black;
}
th{
    background-color: slateblue;
}
th,td{
    padding: .5rem;
}
form{
 max-width: 50rem;
 margin: auto;
    background-color: mediumseagreen;
    padding: 2rem;
}
form>div{
    padding: .5rem;
}
form label{
    padding-right: 1rem;
}
form button{
    margin: 2rem 5rem;
}